<app-indexheader></app-indexheader>

<body>


        <section class="banner">

            <div class="container wow fadeInUp">

                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="content">
                            <h2>
                               Welcome on User portal
                            </h2>  
                             <a  [routerLink]="['/signup']" class="test">GET REGISTRATION</a>&nbsp;&nbsp;  <a  class="test" [routerLink]="['/login']">GET LOGIN HERE</a>   
                                       
                          

                             
                        </div>
                    </div> <!-- end .col-md-12  -->
                </div>

            </div>

        </section>

</body>



