<footer style="background-color: #000080;">
   <div style="height: 100px; width: 100%;">
   	
   	<p style="font-color:white;"><span style="color:white; font-family: cursive; ">
   		<span style="padding-left: 25%;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span><br>
   		<span style="padding-left: 25%;"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span><br>
   		<span style="padding-left: 25%;"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
   		


   	</span>
   	</p>

   </div>
</footer>

